---
# Mist Prometheus Exporter Configuration
# Environment variables can be used with ${VAR_NAME} syntax

# org_id is dynamically discovered from the Mist API unless specified here.
# This parameter should only be required if the supplied API key has access
# to more than one organization.
#org_id: 

mist_api:
  # Mist API base URL
  #base_url: "https://api.mist.com"

  # Mist API key for authentication - must have "org" level read permissions
  api_key: 
  
  # Mist API client request timeout
  #timeout: 30s

exporter:
  # Exporter bind address
  #address: 0.0.0.0
  
  # Exporter port
  #port: 10038

collector:
  # Collector timeout
  #collect_timeout: 30s

  # Device name refresh interval
  #device_name_refresh_interval: 1m

  # Site refresh interval
  #site_refresh_interval: 1m

  # Site filter
  #site_filter:
  #  include: []
  #  exclude: []
